#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --color: #74E7DB;
    --backgroundColor: #e4e2c7;
}


.creation-of-document {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}
.all-documents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
  
.document {
  margin: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  border: 2px solid #333;
}

.document-buttons {
  flex-direction: row;
  justify-content: space-between;
}

textarea {
  border-radius: 0.5rem;
}

input {
  border-radius: 0.2rem;
  border-width: 0;
  background-color: var(--color);
}

.title {
  font-size: large;
  display: flex;
  text-align: center;
  margin: 0.2rem;
  margin-bottom: 0.5rem;
}

/* .all-documents>.document {
  grid-row: span 1;
}

.all-documents>.document:nth-of-type(1) {
  grid-row: span 3;
}

.all-documents>.document:nth-of-type(2) {
  grid-row: span 2;
}

.all-documents>.document:nth-of-type(3) {
  grid-row: span 1;
} */
/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

*/